@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: 255, 255, 255;
        --color-text-primary: 24, 144, 255;
        --color-text-muted: 199, 210, 254;
        --color-text-inverted: 79, 70, 229;
        --color-fill: 24, 144, 255;
        --bg-fill-muted: 230, 247, 255;
        --bg-base: 245, 245, 245;
        --bg-hover: 245, 245, 245;
        --color-button-accent: 255, 255, 255;
        --color-button-accent-hover: 238, 242, 255;
        --color-button-muted: 99, 102, 241;
    }

    .theme-swiss {
        --color-text-base: 255, 255, 255;
        --color-text-muted: 199, 210, 254;
        --color-text-inverted: 79, 70, 229;
        --color-fill: 24, 144, 255;
        --bg-fill-muted: 230, 247, 255;
        --bg-base: 245, 245, 245;
        --bg-hover: 245, 245, 245;
        --color-button-accent: 255, 255, 255;
        --color-button-accent-hover: 238, 242, 255;
        --color-button-muted: 99, 102, 241;
    }
}